.mainArea {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header"
    "contentArea"
    ;
    height: 100%;
}

.headerTableItemWrapper {
    grid-area: header;
    height: fit-content;
}

.contentAreaTableItemWrapper {
    grid-area: contentArea;
    position: relative;
}