.headerContainer {
    display: grid;
    grid-template-areas: 
    "logo name account";
    grid-template-columns: 1fr 3fr 1fr;
    border-bottom: solid lightgray 1px;
    
    border-top: solid #2196F3 2px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.09);
    background-color: #fafafb;
    /* 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05); */
}

.logo {
    grid-area: logo;
    text-align: left;
    margin: 0%;
}

.websiteName {
    grid-area: name;
    text-align: center;
    margin: 0%;
}